# Plantilla Garage single-node. Copiar a docker/garage.toml (ignorado en git)
# y generar secretos UNA vez:
#   openssl rand -hex 32   -> rpc_secret
#   openssl rand -base64 32 -> admin_token / metrics_token
# Mantener los mismos valores siempre (cambiar rpc_secret rompe el nodo).

metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
db_engine = "sqlite"
replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "CAMBIAR_openssl_rand_hex_32"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"

[admin]
api_bind_addr = "127.0.0.1:3903"
admin_token = "CAMBIAR_openssl_rand_base64_32"
metrics_token = "CAMBIAR_openssl_rand_base64_32"
